*.class
*.log

# SBT Ignore Rules
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
**/_SUCCESS
**/_metadata

# IntelliJ IDE Specific Ignore Rules
.idea/
project/target/
/metastore_db/

# Scala IDE Specific Ignore Rules
*.scala_dependencies
*.worksheet

# Mac OSX Specific
*.DS_Store
